{"openapi":"3.1.0","info":{"title":"Together APIs","description":"The Together REST API. Please see https://docs.together.ai for more details.","version":"2.0.0","termsOfService":"https://www.together.ai/terms-of-service","contact":{"name":"Together Support","url":"https://www.together.ai/contact"},"license":{"name":"MIT","url":"https://github.com/togethercomputer/openapi/blob/main/LICENSE"}},"servers":[{"url":"https://api.together.ai/v1"}],"security":[{"bearerAuth":[]}],"paths":{"/deployments":{"get":{"description":"Get a list of all deployments in your project","summary":"Get the list of deployments","tags":["Deployments"],"responses":{"200":{"description":"List of deployments","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeploymentListResponse"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object"}}}}},"x-codeSamples":[{"lang":"Python","label":"Together AI SDK (v2)","source":"from together import Together\nclient = Together()\n\ndeployments = client.beta.jig.list()\nprint(deployments)\n"},{"lang":"TypeScript","label":"Together AI SDK (TypeScript)","source":"import Together from \u0022together-ai\u0022;\nconst client = new Together();\n\nconst deployments = await client.beta.jig.list();\nconsole.log(deployments);\n"},{"lang":"JavaScript","label":"Together AI SDK (JavaScript)","source":"import Together from \u0022together-ai\u0022;\nconst client = new Together();\n\nconst deployments = await client.beta.jig.list();\nconsole.log(deployments);\n"},{"lang":"Shell","label":"cURL","source":"curl -X GET \\\n      -H \u0022Authorization: Bearer $TOGETHER_API_KEY\u0022 \\\n      https://api.together.ai/v1/deployments\n"}]},"post":{"description":"Create a new deployment with specified configuration","summary":"Create a new deployment","tags":["Deployments"],"x-codeSamples":[{"lang":"Python","label":"Together AI SDK (v2)","source":"from together import Together\nclient = Together()\n\ndeployment = client.beta.jig.deploy(\n  name=\u0022my-deployment\u0022,\n  gpu_type=\u0022h100-80gb\u0022,\n  image=\u0022registry.together.ai/proj_abcdefg1234567890/my-image:latest\u0022\n)\nprint(deployment)\n"},{"lang":"TypeScript","label":"Together AI SDK (TypeScript)","source":"import Together from \u0022together-ai\u0022;\nconst client = new Together();\n\nconst deployment = await client.beta.jig.deploy({\n  name: \u0022my-deployment\u0022,\n  gpu_type: \u0022h100-80gb\u0022,\n  image: \u0022registry.together.ai/proj_abcdefg1234567890/my-image:latest\u0022\n});\nconsole.log(deployment);\n"},{"lang":"JavaScript","label":"Together AI SDK (JavaScript)","source":"import Together from \u0022together-ai\u0022;\nconst client = new Together();\n\nconst deployment = await client.beta.jig.deploy({\n  name: \u0022my-deployment\u0022,\n  gpu_type: \u0022h100-80gb\u0022,\n  image: \u0022registry.together.ai/proj_abcdefg1234567890/my-image:latest\u0022\n});\nconsole.log(deployment);\n"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateDeploymentRequest"}}},"description":"Deployment configuration","required":true},"responses":{"200":{"description":"Deployment created successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeploymentResponseItem"}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"type":"object"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/deployments/{id}":{"delete":{"description":"Delete an existing deployment","summary":"Delete a deployment","tags":["Deployments"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"description":"Deployment ID or name","type":"string"}}],"x-codeSamples":[{"lang":"Python","label":"Together AI SDK (v2)","source":"from together import Together\nclient = Together()\n\ndeployment = client.beta.jig.destroy(\u0022my-deployment\u0022)\nprint(deployment)\n"},{"lang":"TypeScript","label":"Together AI SDK (TypeScript)","source":"import Together from \u0022together-ai\u0022;\nconst client = new Together();\n\nconst deployment = await client.beta.jig.destroy(\u0022my-deployment\u0022);\nconsole.log(deployment);\n"},{"lang":"JavaScript","label":"Together AI SDK (JavaScript)","source":"import Together from \u0022together-ai\u0022;\nconst client = new Together();\n\nconst deployment = await client.beta.jig.destroy(\u0022my-deployment\u0022);\nconsole.log(deployment);\n"},{"lang":"Shell","label":"cURL","source":"curl -X DELETE \\\n      -H \u0022Authorization: Bearer $TOGETHER_API_KEY\u0022 \\\n      https://api.together.ai/v1/deployments/my-deployment\n"}],"responses":{"200":{"description":"Deployment deleted successfully","content":{"application/json":{"schema":{"type":"object"}}}},"404":{"description":"Deployment not found","content":{"application/json":{"schema":{"type":"object"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object"}}}}}},"get":{"description":"Retrieve details of a specific deployment by its ID or name","summary":"Get a deployment by ID or name","tags":["Deployments"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"description":"Deployment ID or name","type":"string"}}],"x-codeSamples":[{"lang":"Python","label":"Together AI SDK (v2)","source":"from together import Together\nclient = Together()\n\ndeployment = client.beta.jig.retrieve(\u0022my-deployment\u0022)\nprint(deployment)\n"},{"lang":"TypeScript","label":"Together AI SDK (TypeScript)","source":"import Together from \u0022together-ai\u0022;\nconst client = new Together();\n\nconst deployment = await client.beta.jig.retrieve(\u0022my-deployment\u0022);\nconsole.log(deployment);\n"},{"lang":"JavaScript","label":"Together AI SDK (JavaScript)","source":"import Together from \u0022together-ai\u0022;\nconst client = new Together();\n\nconst deployment = await client.beta.jig.retrieve(\u0022my-deployment\u0022);\nconsole.log(deployment);\n"}],"responses":{"200":{"description":"Deployment details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeploymentResponseItem"}}}},"404":{"description":"Deployment not found","content":{"application/json":{"schema":{"type":"object"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object"}}}}}},"patch":{"description":"Update an existing deployment configuration","summary":"Update a deployment","tags":["Deployments"],"x-codeSamples":[{"lang":"Python","label":"Together AI SDK (v2)","source":"from together import Together\nclient = Together()\n\ndeployment = client.beta.jig.update(\u0022my-deployment\u0022, gpu_count=2)\nprint(deployment)\n"},{"lang":"TypeScript","label":"Together AI SDK (TypeScript)","source":"import Together from \u0022together-ai\u0022;\nconst client = new Together();\n\nconst deployment = await client.beta.jig.update(\u0022my-deployment\u0022, { gpu_count: 2 });\nconsole.log(deployment);\n"},{"lang":"JavaScript","label":"Together AI SDK (JavaScript)","source":"import Together from \u0022together-ai\u0022;\nconst client = new Together();\n\nconst deployment = await client.beta.jig.update(\u0022my-deployment\u0022, { gpu_count: 2 });\nconsole.log(deployment);\n"},{"lang":"Shell","label":"cURL","source":"curl -X PATCH \\\n      -H \u0022Authorization: Bearer $TOGETHER_API_KEY\u0022 \\\n      --data \u0027{ \u0022gpu_count\u0022: 2 }\u0027 \\\n      https://api.together.ai/v1/deployments/my-deployment\n"}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"description":"Deployment ID or name","type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateDeploymentRequest"}}},"description":"Updated deployment configuration","required":true},"responses":{"200":{"description":"Deployment updated successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeploymentResponseItem"}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"type":"object"}}}},"404":{"description":"Deployment not found","content":{"application/json":{"schema":{"type":"object"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/deployments/{id}/logs":{"get":{"description":"Retrieve logs from a deployment, optionally filtered by replica ID.","summary":"Get logs for a deployment","tags":["Deployments"],"x-codeSamples":[{"lang":"Python","label":"Together AI SDK (v2)","source":"from together import Together\nclient = Together()\n\ndeployment = client.beta.jig.logs(\u0022my-deployment\u0022)\nprint(deployment)\n"},{"lang":"TypeScript","label":"Together AI SDK (TypeScript)","source":"import Together from \u0022together-ai\u0022;\nconst client = new Together();\n\nconst deployment = await client.beta.jig.logs(\u0022my-deployment\u0022);\nconsole.log(deployment);\n"},{"lang":"JavaScript","label":"Together AI SDK (JavaScript)","source":"import Together from \u0022together-ai\u0022;\nconst client = new Together();\n\nconst deployment = await client.beta.jig.logs(\u0022my-deployment\u0022);\nconsole.log(deployment);\n"},{"lang":"Shell","label":"cURL","source":"curl -X GET \\\n      -H \u0022Authorization: Bearer $TOGETHER_API_KEY\u0022 \\\n      https://api.together.ai/v1/deployments/my-deployment/logs\n"}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"description":"Deployment ID or name","type":"string"}},{"name":"replica_id","in":"query","required":false,"schema":{"description":"Replica ID to filter logs","type":"string"}}],"responses":{"200":{"description":"Deployment logs","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeploymentLogs"}}}},"404":{"description":"Deployment not found","content":{"application/json":{"schema":{"type":"object"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/deployments/secrets":{"get":{"description":"Retrieve all secrets in your project","summary":"Get the list of project secrets","tags":["Secrets"],"x-codeSamples":[{"lang":"Python","label":"Together AI SDK (v2)","source":"from together import Together\nclient = Together()\n\nsecrets = client.beta.jig.secrets.list()\nprint(secrets)\n"},{"lang":"TypeScript","label":"Together AI SDK (TypeScript)","source":"import Together from \u0022together-ai\u0022;\nconst client = new Together();\n\nconst secrets = await client.beta.jig.secrets.list();\nconsole.log(secrets);\n"},{"lang":"JavaScript","label":"Together AI SDK (JavaScript)","source":"import Together from \u0022together-ai\u0022;\nconst client = new Together();\n\nconst secrets = await client.beta.jig.secrets.list();\nconsole.log(secrets);\n"}],"responses":{"200":{"description":"List of secrets","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListSecretsResponse"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object"}}}}}},"post":{"description":"Create a new secret to store sensitive configuration values","summary":"Create a new secret","tags":["Secrets"],"x-codeSamples":[{"lang":"Python","label":"Together AI SDK (v2)","source":"from together import Together\nclient = Together()\n\nclient.beta.jig.secrets.create(name=\u0022my-secret\u0022, value=\u0022my-value\u0022)\n"},{"lang":"TypeScript","label":"Together AI SDK (TypeScript)","source":"import Together from \u0022together-ai\u0022;\nconst client = new Together();\n\nawait client.beta.jig.secrets.create({ name: \u0022my-secret\u0022, value: \u0022my-value\u0022 });\n"},{"lang":"JavaScript","label":"Together AI SDK (JavaScript)","source":"import Together from \u0022together-ai\u0022;\nconst client = new Together();\n\nawait client.beta.jig.secrets.create({ name: \u0022my-secret\u0022, value: \u0022my-value\u0022 });\n"},{"lang":"Shell","label":"cURL","source":"curl -X POST \\\n      -H \u0022Authorization: Bearer $TOGETHER_API_KEY\u0022 \\\n      --data \u0027{ \u0022name\u0022: \u0022my-secret\u0022, \u0022value\u0022: \u0022my-value\u0022 }\u0027 \\\n      https://api.together.ai/v1/deployments/secrets\n"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateSecretRequest"}}},"description":"Secret configuration","required":true},"responses":{"200":{"description":"Secret created successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SecretResponseItem"}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"type":"object"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/deployments/secrets/{id}":{"delete":{"description":"Delete an existing secret","summary":"Delete a secret","tags":["Secrets"],"x-codeSamples":[{"lang":"Python","label":"Together AI SDK (v2)","source":"from together import Together\nclient = Together()\n\nclient.beta.jig.secrets.delete(\u0022my-secret\u0022)\n"},{"lang":"TypeScript","label":"Together AI SDK (TypeScript)","source":"import Together from \u0022together-ai\u0022;\nconst client = new Together();\n\nawait client.beta.jig.secrets.delete(\u0022my-secret\u0022);\n"},{"lang":"JavaScript","label":"Together AI SDK (JavaScript)","source":"import Together from \u0022together-ai\u0022;\nconst client = new Together();\n\nawait client.beta.jig.secrets.delete(\u0022my-secret\u0022);\n"},{"lang":"Shell","label":"cURL","source":"curl -X DELETE \\\n      -H \u0022Authorization: Bearer $TOGETHER_API_KEY\u0022 \\\n      https://api.together.ai/v1/deployments/secrets/my-secret\n"}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"description":"Secret ID or name","type":"string"}}],"responses":{"200":{"description":"Secret deleted successfully","content":{"application/json":{"schema":{"type":"object"}}}},"404":{"description":"Secret not found","content":{"application/json":{"schema":{"type":"object"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object"}}}}}},"get":{"description":"Retrieve details of a specific secret by its ID or name","summary":"Get a secret by ID or name","tags":["Secrets"],"x-codeSamples":[{"lang":"Python","label":"Together AI SDK (v2)","source":"from together import Together\nclient = Together()\n\nsecret = client.beta.jig.secrets.retrieve(\u0022my-secret\u0022)\nprint(secret)\n"},{"lang":"TypeScript","label":"Together AI SDK (TypeScript)","source":"import Together from \u0022together-ai\u0022;\nconst client = new Together();\n\nconst secret = await client.beta.jig.secrets.retrieve(\u0022my-secret\u0022);\nconsole.log(secret);\n"},{"lang":"JavaScript","label":"Together AI SDK (JavaScript)","source":"import Together from \u0022together-ai\u0022;\nconst client = new Together();\n\nconst secret = await client.beta.jig.secrets.retrieve(\u0022my-secret\u0022);\nconsole.log(secret);\n"},{"lang":"Shell","label":"cURL","source":"curl -X GET \\\n      -H \u0022Authorization: Bearer $TOGETHER_API_KEY\u0022 \\\n      https://api.together.ai/v1/deployments/secrets/my-secret\n"}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"description":"Secret ID or name","type":"string"}}],"responses":{"200":{"description":"Secret details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SecretResponseItem"}}}},"404":{"description":"Secret not found","content":{"application/json":{"schema":{"type":"object"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object"}}}}}},"patch":{"description":"Update an existing secret\u0027s value or metadata","summary":"Update a secret","tags":["Secrets"],"x-codeSamples":[{"lang":"Python","label":"Together AI SDK (v2)","source":"from together import Together\nclient = Together()\n\nclient.beta.jig.secrets.update(\u0022my-secret\u0022, value=\u0022my-new-value\u0022)\n"},{"lang":"TypeScript","label":"Together AI SDK (TypeScript)","source":"import Together from \u0022together-ai\u0022;\nconst client = new Together();\n\nawait client.beta.jig.secrets.update(\u0022my-secret\u0022, { value: \u0022my-new-value\u0022 });\n"},{"lang":"JavaScript","label":"Together AI SDK (JavaScript)","source":"import Together from \u0022together-ai\u0022;\nconst client = new Together();\n\nawait client.beta.jig.secrets.update(\u0022my-secret\u0022, { value: \u0022my-new-value\u0022 });\n"},{"lang":"Shell","label":"cURL","source":"curl -X PATCH \\\n      -H \u0022Authorization: Bearer $TOGETHER_API_KEY\u0022 \\\n      --data \u0027{ \u0022value\u0022: \u0022my-new-value\u0022 }\u0027 \\\n      https://api.together.ai/v1/deployments/secrets/my-secret\n"}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"description":"Secret ID or name","type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateSecretRequest"}}},"description":"Updated secret configuration","required":true},"responses":{"200":{"description":"Secret updated successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SecretResponseItem"}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"type":"object"}}}},"404":{"description":"Secret not found","content":{"application/json":{"schema":{"type":"object"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/deployments/storage/{filename}":{"get":{"description":"Download a file by redirecting to a signed URL","summary":"Download a file","tags":["DeploymentsStorage"],"parameters":[{"name":"filename","in":"path","required":true,"schema":{"description":"Filename","type":"string"}}],"responses":{"307":{"description":"Redirect to signed download URL","content":{"application/json":{"schema":{"type":"string"}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"additionalProperties":{"type":"string"},"type":"object"}}}},"404":{"description":"File not found","content":{"application/json":{"schema":{"additionalProperties":{"type":"string"},"type":"object"}}}},"500":{"description":"Internal error","content":{"application/json":{"schema":{"additionalProperties":{"type":"string"},"type":"object"}}}}}}},"/deployments/storage/volumes":{"get":{"description":"Retrieve all volumes in your project","summary":"Get the list of project volumes","tags":["DeploymentsVolumes"],"x-codeSamples":[{"lang":"Python","label":"Together AI SDK (v2)","source":"from together import Together\nclient = Together()\n\nvolumes = client.beta.jig.storage.volumes.list()\nprint(volumes)\n"},{"lang":"TypeScript","label":"Together AI SDK (TypeScript)","source":"import Together from \u0022together-ai\u0022;\nconst client = new Together();\n\nconst volumes = await client.beta.jig.storage.volumes.list();\nconsole.log(volumes);\n"},{"lang":"JavaScript","label":"Together AI SDK (JavaScript)","source":"import Together from \u0022together-ai\u0022;\nconst client = new Together();\n\nconst volumes = await client.beta.jig.storage.volumes.list();\nconsole.log(volumes);\n"},{"lang":"Shell","label":"cURL","source":"curl -X GET \\\n      -H \u0022Authorization: Bearer $TOGETHER_API_KEY\u0022 \\\n      https://api.together.ai/v1/deployments/storage/volumes\n"}],"responses":{"200":{"description":"List of volumes","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListVolumesResponse"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object"}}}}}},"post":{"description":"Create a new volume to preload files in deployments","summary":"Create a new volume","tags":["DeploymentsVolumes"],"x-codeSamples":[{"lang":"Python","label":"Together AI SDK (v2)","source":"from together import Together\nclient = Together()\n\nvolumes = client.beta.jig.volumes.create(name=\u0022my-volume\u0022)\nprint(volumes)\n"},{"lang":"TypeScript","label":"Together AI SDK (TypeScript)","source":"import Together from \u0022together-ai\u0022;\nconst client = new Together();\n\nconst volumes = await client.beta.jig.volumes.create({ name: \u0022my-volume\u0022 });\nconsole.log(volumes);\n"},{"lang":"JavaScript","label":"Together AI SDK (JavaScript)","source":"import Together from \u0022together-ai\u0022;\nconst client = new Together();\n\nconst volumes = await client.beta.jig.volumes.create({ name: \u0022my-volume\u0022 });\nconsole.log(volumes);\n"},{"lang":"Shell","label":"cURL","source":"curl -X POST \\\n      -H \u0022Authorization: Bearer $TOGETHER_API_KEY\u0022 \\\n      --data \u0027{ \u0022name\u0022: \u0022my-volume\u0022 }\u0027 \\\n      https://api.together.ai/v1/deployments/storage/volumes\n"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateVolumeRequest"}}},"description":"Volume configuration","required":true},"responses":{"200":{"description":"Volume created successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VolumeResponseItem"}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"type":"object"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/deployments/storage/volumes/{id}":{"delete":{"description":"Delete an existing volume","parameters":[{"name":"id","in":"path","required":true,"schema":{"description":"Volume ID or name","type":"string"}}],"responses":{"200":{"description":"Volume deleted successfully","content":{"application/json":{"schema":{"type":"object"}}}},"404":{"description":"Volume not found","content":{"application/json":{"schema":{"type":"object"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object"}}}}},"summary":"Delete a volume","tags":["Volumes"]},"get":{"description":"Retrieve details of a specific volume by its ID or name","parameters":[{"name":"id","in":"path","required":true,"schema":{"description":"Volume ID or name","type":"string"}}],"responses":{"200":{"description":"Volume details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VolumeResponseItem"}}}},"404":{"description":"Volume not found","content":{"application/json":{"schema":{"type":"object"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object"}}}}},"summary":"Get a volume by ID or name","tags":["Volumes"]},"patch":{"description":"Update an existing volume\u0027s configuration or contents","parameters":[{"name":"id","in":"path","required":true,"schema":{"description":"Volume ID or name.","type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateVolumeRequest"}}},"description":"Updated volume configuration","required":true},"responses":{"200":{"description":"Volume updated successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VolumeResponseItem"}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"type":"object"}}}},"404":{"description":"Volume not found","content":{"application/json":{"schema":{"type":"object"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object"}}}}},"summary":"Update a volume","tags":["Volumes"]}},"/voices":{"get":{"tags":["Voices"],"summary":"Fetch available voices for each model","description":"Fetch available voices for each model","operationId":"fetchVoices","responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListVoicesResponse"}}}}},"x-codeSamples":[{"lang":"Python","label":"Together AI SDK (v2)","source":"# Docs for v1 can be found by changing the above selector ^\nfrom together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\u0022TOGETHER_API_KEY\u0022),\n)\n\nresponse = client.audio.voices.list()\n\nprint(response.data)\n"},{"lang":"Python","label":"Together AI SDK (v1)","source":"from together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\u0022TOGETHER_API_KEY\u0022),\n)\n\nresponse = client.audio.voices.list()\n\nprint(response.data)\n"},{"lang":"TypeScript","label":"Together AI SDK (TypeScript)","source":"import Together from \u0022together-ai\u0022;\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst response = await client.audio.voices.list()\n\nconsole.log(response.data);\n"},{"lang":"JavaScript","label":"Together AI SDK (JavaScript)","source":"import Together from \u0022together-ai\u0022;\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst response = await client.audio.voices.list()\n\nconsole.log(response.data);\n"}]}},"/videos/{id}":{"get":{"tags":["Video"],"summary":"Fetch video metadata","description":"Fetch video metadata","servers":[{"url":"https://api.together.ai/v2"}],"operationId":"retrieveVideo","x-codeSamples":[{"lang":"Python","label":"Together AI SDK (v2)","source":"# Docs for v1 can be found by changing the above selector ^\nfrom together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\u0022TOGETHER_API_KEY\u0022),\n)\n\nresponse = client.videos.retrieve(video_id)\n\nprint(response.id)\n"},{"lang":"Python","label":"Together AI SDK (v1)","source":"from together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\u0022TOGETHER_API_KEY\u0022),\n)\n\nresponse = client.videos.retrieve(video_id)\n\nprint(response.id)\n"},{"lang":"TypeScript","label":"Together AI SDK (TypeScript)","source":"import Together from \u0022together-ai\u0022;\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst response = await client.videos.retrieve(videoId);\n\nconsole.log(response.status);\n"},{"lang":"JavaScript","label":"Together AI SDK (JavaScript)","source":"import Together from \u0022together-ai\u0022;\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst response = await client.videos.retrieve(videoId);\n\nconsole.log(response.status);\n"}],"parameters":[{"in":"path","name":"id","required":true,"schema":{"description":"Identifier of video from create response.","type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VideoJob"}}}},"400":{"description":"Invalid request parameters."},"404":{"description":"Video ID not found."}}}},"/videos":{"post":{"tags":["Video"],"summary":"Create video","description":"Create a video","operationId":"createVideo","servers":[{"url":"https://api.together.ai/v2"}],"x-codeSamples":[{"lang":"Python","label":"Together AI SDK (v2)","source":"# Docs for v1 can be found by changing the above selector ^\nfrom together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\u0022TOGETHER_API_KEY\u0022),\n)\n\nresponse = client.videos.create(\n    model=\u0022together/video-model\u0022,\n    prompt=\u0022A cartoon of an astronaut riding a horse on the moon\u0022\n)\n\nprint(response.id)\n"},{"lang":"Python","label":"Together AI SDK (v1)","source":"from together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\u0022TOGETHER_API_KEY\u0022),\n)\n\nresponse = client.videos.create(\n    model=\u0022together/video-model\u0022,\n    prompt=\u0022A cartoon of an astronaut riding a horse on the moon\u0022\n)\n\nprint(response.id)\n"},{"lang":"TypeScript","label":"Together AI SDK (TypeScript)","source":"import Together from \u0022together-ai\u0022;\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst response = await client.videos.create({\n  model: \u0022together/video-model\u0022,\n  prompt: \u0022A cartoon of an astronaut riding a horse on the moon\u0022,\n});\n\nconsole.log(response.id);\n"},{"lang":"JavaScript","label":"Together AI SDK (JavaScript)","source":"import Together from \u0022together-ai\u0022;\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst response = await client.videos.create({\n  model: \u0022together/video-model\u0022,\n  prompt: \u0022A cartoon of an astronaut riding a horse on the moon\u0022,\n});\n\nconsole.log(response.id);\n"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateVideoBody"}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VideoJob"}}}}}}},"/chat/completions":{"post":{"tags":["Chat"],"summary":"Create chat completion","description":"Generate a model response for a given chat conversation. Supports single queries and multi-turn conversations with system, user, and assistant messages.","x-codeSamples":[{"lang":"Python","label":"Together AI SDK (v2)","source":"# Docs for v1 can be found by changing the above selector ^\nfrom together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\u0022TOGETHER_API_KEY\u0022),\n)\n\nresponse = client.chat.completions.create(\n    model=\u0022Qwen/Qwen3.5-9B\u0022,\n    messages=[\n        {\u0022role\u0022: \u0022system\u0022, \u0022content\u0022: \u0022You are a helpful assistant.\u0022},\n        {\u0022role\u0022: \u0022user\u0022, \u0022content\u0022: \u0022What are some fun things to do in New York?\u0022},\n    ],\n    reasoning={\u0022enabled\u0022: False}\n)\n"},{"lang":"Python","label":"Together AI SDK (v1)","source":"from together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\u0022TOGETHER_API_KEY\u0022),\n)\n\nresponse = client.chat.completions.create(\n    model=\u0022Qwen/Qwen3.5-9B\u0022,\n    messages=[\n        {\u0022role\u0022: \u0022system\u0022, \u0022content\u0022: \u0022You are a helpful assistant.\u0022},\n        {\u0022role\u0022: \u0022user\u0022, \u0022content\u0022: \u0022What are some fun things to do in New York?\u0022},\n    ],\n    reasoning={\u0022enabled\u0022: False}\n)\n\nprint(response.choices[0].message.content)\n"},{"lang":"TypeScript","label":"Together AI SDK (TypeScript)","source":"import Together from \u0022together-ai\u0022;\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst response = await client.chat.completions.create({\n  model: \u0022Qwen/Qwen3.5-9B\u0022,\n  messages: [\n    { role: \u0022system\u0022, content: \u0022You are a helpful assistant.\u0022 },\n    { role: \u0022user\u0022, \u0022content\u0022: \u0022What are some fun things to do in New York?\u0022 },\n  ],\n  reasoning: { enabled: false },\n});\n\nconsole.log(response.choices[0].message?.content);\n"},{"lang":"JavaScript","label":"Together AI SDK (JavaScript)","source":"import Together from \u0022together-ai\u0022;\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst response = await client.chat.completions.create({\n  model: \u0022Qwen/Qwen3.5-9B\u0022,\n  messages: [\n    { role: \u0022system\u0022, content: \u0022You are a helpful assistant.\u0022 },\n    { role: \u0022user\u0022, \u0022content\u0022: \u0022What are some fun things to do in New York?\u0022 },\n  ],\n  reasoning: { enabled: false },\n});\n\nconsole.log(response.choices[0].message?.content);\n"},{"lang":"Shell","label":"cURL","source":"curl -X POST \u0022https://api.together.ai/v1/chat/completions\u0022 \\\n     -H \u0022Authorization: Bearer $TOGETHER_API_KEY\u0022 \\\n     -H \u0022Content-Type: application/json\u0022 \\\n     -d \u0027{\n       \u0022model\u0022: \u0022Qwen/Qwen3.5-9B\u0022,\n       \u0022messages\u0022: [\n         {\u0022role\u0022: \u0022system\u0022, \u0022content\u0022: \u0022You are a helpful assistant.\u0022},\n         {\u0022role\u0022: \u0022user\u0022, \u0022content\u0022: \u0022What are some fun things to do in New York?\u0022}\n       ],\n       \u0022reasoning\u0022: {\u0022enabled\u0022: false}\n     }\u0027\n"}],"operationId":"chat-completions","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChatCompletionRequest"}}}},"responses":{"200":{"description":200,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChatCompletionResponse"}},"text/event-stream":{"schema":{"$ref":"#/components/schemas/ChatCompletionStream"}}}},"400":{"description":"BadRequest","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}},"404":{"description":"NotFound","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}},"429":{"description":"RateLimit","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}},"503":{"description":"Overloaded","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}},"504":{"description":"Timeout","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}}},"deprecated":false}},"/completions":{"post":{"tags":["Completion"],"summary":"Create completion","description":"Generate text completions for a given prompt using a language, code, or image model.","x-codeSamples":[{"lang":"Python","label":"Together AI SDK (v2)","source":"# Docs for v1 can be found by changing the above selector ^\nfrom together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\u0022TOGETHER_API_KEY\u0022),\n)\n\nresponse = client.completions.create(\n    model=\u0022Qwen/Qwen3.5-9B\u0022,\n    prompt=\u0022The largest city in France is\u0022,\n    max_tokens=1\n)\n\nprint(response.choices[0].text)\n"},{"lang":"Python","label":"Together AI SDK (v1)","source":"from together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\u0022TOGETHER_API_KEY\u0022),\n)\n\nresponse = client.completions.create(\n    model=\u0022Qwen/Qwen3.5-9B\u0022,\n    prompt=\u0022The largest city in France is\u0022,\n    max_tokens=1\n)\n\nprint(response.choices[0].text)\n"},{"lang":"TypeScript","label":"Together AI SDK (TypeScript)","source":"import Together from \u0022together-ai\u0022;\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst response = await client.completions.create({\n  model: \u0022Qwen/Qwen3.5-9B\u0022,\n  prompt: \u0022The largest city in France is\u0022,\n  max_tokens: 1,\n});\n\nconsole.log(response.choices[0].text);\n"},{"lang":"JavaScript","label":"Together AI SDK (JavaScript)","source":"import Together from \u0022together-ai\u0022;\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst response = await client.completions.create({\n  model: \u0022Qwen/Qwen3.5-9B\u0022,\n  prompt: \u0022The largest city in France is\u0022,\n  max_tokens: 1\n});\n\nconsole.log(response.choices[0].text);\n"},{"lang":"Shell","label":"cURL","source":"curl -X POST \u0022https://api.together.ai/v1/completions\u0022 \\\n     -H \u0022Authorization: Bearer $TOGETHER_API_KEY\u0022 \\\n     -H \u0022Content-Type: application/json\u0022 \\\n     -d \u0027{\n       \u0022model\u0022: \u0022Qwen/Qwen3.5-9B\u0022,\n       \u0022prompt\u0022: \u0022The largest city in France is\u0022,\n       \u0022max_tokens\u0022: 1\n     }\u0027\n"}],"operationId":"completions","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CompletionRequest"}}}},"responses":{"200":{"description":200,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CompletionResponse"}},"text/event-stream":{"schema":{"$ref":"#/components/schemas/CompletionStream"}}}},"400":{"description":"BadRequest","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}},"404":{"description":"NotFound","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}},"429":{"description":"RateLimit","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}},"503":{"description":"Overloaded","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}},"504":{"description":"Timeout","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}}},"deprecated":false}},"/embeddings":{"post":{"tags":["Embeddings"],"summary":"Create embedding","description":"Generate vector embeddings for one or more text inputs. Returns numerical arrays representing semantic meaning, useful for search, classification, and retrieval.","x-codeSamples":[{"lang":"Python","label":"Together AI SDK (v2)","source":"# Docs for v1 can be found by changing the above selector ^\nfrom together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\u0022TOGETHER_API_KEY\u0022),\n)\n\nresponse = client.embeddings.create(\n    model=\u0022BAAI/bge-large-en-v1.5\u0022,\n    input=\u0022New York City\u0022,\n)\n\nprint(response.data[0].embedding)\n"},{"lang":"Python","label":"Together AI SDK (v1)","source":"from together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\u0022TOGETHER_API_KEY\u0022),\n)\n\nresponse = client.embeddings.create(\n    model=\u0022BAAI/bge-large-en-v1.5\u0022,\n    input=\u0022New York City\u0022,\n)\n\nprint(response.data[0].embedding)\n"},{"lang":"TypeScript","label":"Together AI SDK (TypeScript)","source":"import Together from \u0022together-ai\u0022;\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst response = await client.embeddings.create({\n  model: \u0022BAAI/bge-large-en-v1.5\u0022,\n  input: \u0022New York City\u0022,\n});\n\nconsole.log(response.data[0].embedding);\n"},{"lang":"JavaScript","label":"Together AI SDK (JavaScript)","source":"import Together from \u0022together-ai\u0022;\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst response = await client.embeddings.create({\n  model: \u0022BAAI/bge-large-en-v1.5\u0022,\n  input: \u0022New York City\u0022,\n});\n\nconsole.log(response.data[0].embedding);\n"},{"lang":"Shell","label":"cURL","source":"curl -X POST \u0022https://api.together.ai/v1/embeddings\u0022 \\\n     -H \u0022Authorization: Bearer $TOGETHER_API_KEY\u0022 \\\n     -H \u0022Content-Type: application/json\u0022 \\\n     -d \u0027{\n       \u0022model\u0022: \u0022BAAI/bge-large-en-v1.5\u0022,\n       \u0022input\u0022: \u0022New York City\u0022\n     }\u0027\n"}],"operationId":"embeddings","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmbeddingsRequest"}}}},"responses":{"200":{"description":200,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmbeddingsResponse"}}}},"400":{"description":"BadRequest","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}},"404":{"description":"NotFound","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}},"429":{"description":"RateLimit","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}},"503":{"description":"Overloaded","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}},"504":{"description":"Timeout","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}}},"deprecated":false}},"/models":{"get":{"tags":["Models"],"summary":"List all models","description":"Lists all of Together\u0027s open-source models","x-codeSamples":[{"lang":"Python","label":"Together AI SDK (v2)","source":"# Docs for v1 can be found by changing the above selector ^\nfrom together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\u0022TOGETHER_API_KEY\u0022),\n)\n\nmodels = client.models.list()\n\nfor model in models:\n    print(model.id)\n"},{"lang":"Python","label":"Together AI SDK (v1)","source":"from together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\u0022TOGETHER_API_KEY\u0022),\n)\n\nmodels = client.models.list()\n\nfor model in models:\n    print(model.id)\n"},{"lang":"TypeScript","label":"Together AI SDK (TypeScript)","source":"import Together from \u0022together-ai\u0022;\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst models = await client.models.list();\n\nfor (const model of models) {\n  console.log(model.id);\n}\n"},{"lang":"JavaScript","label":"Together AI SDK (JavaScript)","source":"import Together from \u0022together-ai\u0022;\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst models = await client.models.list();\n\nfor (const model of models) {\n  console.log(model.id);\n}\n"},{"lang":"Shell","label":"cURL","source":"curl \u0022https://api.together.ai/v1/models\u0022 \\\n     -H \u0022Authorization: Bearer $TOGETHER_API_KEY\u0022 \\\n     -H \u0022Content-Type: application/json\u0022\n"}],"operationId":"models","parameters":[{"name":"dedicated","in":"query","schema":{"description":"Filter models to only return dedicated models","type":"boolean"}}],"responses":{"200":{"description":200,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ModelInfoList"}}}},"400":{"description":"BadRequest","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}},"404":{"description":"NotFound","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}},"429":{"description":"RateLimit","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}},"504":{"description":"Timeout","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}}},"deprecated":false},"post":{"tags":["Models"],"summary":"Upload a custom model or adapter","description":"Upload a custom model or adapter from Hugging Face or S3","x-codeSamples":[{"lang":"Python","label":"Together AI SDK (v2)","source":"# Docs for v1 can be found by changing the above selector ^\nfrom together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\u0022TOGETHER_API_KEY\u0022),\n)\n\nresponse = client.models.upload(\n    model_name=\u0022My-Fine-Tuned-Model\u0022,\n    model_source=\u0022https://ml-models.s3.us-west-2.amazonaws.com/models/my-fine-tuned-model.tar.gz\u0022,\n)\n\nprint(response.data.job_id)\n"},{"lang":"Python","label":"Together AI SDK (v1)","source":"from together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\u0022TOGETHER_API_KEY\u0022),\n)\n\nresponse = client.models.upload(\n    \u0022My-Fine-Tuned-Model\u0022,\n    \u0022https://ml-models.s3.us-west-2.amazonaws.com/models/my-fine-tuned-model.tar.gz\u0022,\n)\n\nprint(response.job_id)\n"},{"lang":"TypeScript","label":"Together AI SDK (TypeScript)","source":"import Together from \u0022together-ai\u0022;\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst response = await client.models.upload({\n  model_name: \u0022My-Fine-Tuned-Model\u0022,\n  model_source: \u0022https://ml-models.s3.us-west-2.amazonaws.com/models/my-fine-tuned-model.tar.gz\u0022,\n})\n\nconsole.log(response);\n"},{"lang":"JavaScript","label":"Together AI SDK (JavaScript)","source":"import Together from \u0022together-ai\u0022;\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst response = await client.models.upload({\n  model_name: \u0022My-Fine-Tuned-Model\u0022,\n  model_source: \u0022https://ml-models.s3.us-west-2.amazonaws.com/models/my-fine-tuned-model.tar.gz\u0022,\n})\n\nconsole.log(response);\n"},{"lang":"Shell","label":"cURL","source":"curl -X POST \u0022https://api.together.ai/v1/models\u0022 \\\n     -H \u0022Authorization: Bearer $TOGETHER_API_KEY\u0022 \\\n     -H \u0022Content-Type: application/json\u0022 \\\n     -d \u0027{\n        \u0022model_name\u0022: \u0022My-Fine-Tuned-Model\u0022,\n        \u0022model_source\u0022: \u0022https://ml-models.s3.us-west-2.amazonaws.com/models/my-fine-tuned-model.tar.gz\u0022\n      }\u0027\n"}],"operationId":"uploadModel","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ModelUploadRequest"}}}},"responses":{"200":{"description":"Model / adapter upload job created successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ModelUploadSuccessResponse"}}}}}}},"/jobs/{jobId}":{"get":{"tags":["Jobs"],"summary":"Get job status","description":"Get the status of a specific job","operationId":"getJob","parameters":[{"name":"jobId","in":"path","required":true,"schema":{"example":"job-a15dad11-8d8e-4007-97c5-a211304de284","description":"The ID of the job to retrieve","type":"string"}}],"responses":{"200":{"description":"Job status retrieved successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/JobInfoSuccessResponse"}}}}}}},"/jobs":{"get":{"tags":["Jobs"],"summary":"List all jobs","description":"List all jobs and their statuses","operationId":"listJobs","responses":{"200":{"description":"Jobs retrieved successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/JobsInfoSuccessResponse"}}}}}}},"/images/generations":{"post":{"tags":["Images"],"summary":"Create image","description":"Use an image model to generate an image for a given prompt.","x-codeSamples":[{"lang":"Python","label":"Together AI SDK (v2)","source":"# Docs for v1 can be found by changing the above selector ^\nfrom together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\u0022TOGETHER_API_KEY\u0022),\n)\n\nresponse = client.images.generate(\n    model=\u0022black-forest-labs/FLUX.1-schnell\u0022,\n    steps=4,\n    prompt=\u0022A cartoon of an astronaut riding a horse on the moon\u0022,\n)\n\nprint(response.data[0].url)\n"},{"lang":"Python","label":"Together AI SDK (v1)","source":"from together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\u0022TOGETHER_API_KEY\u0022),\n)\n\nresponse = client.images.generate(\n    model=\u0022black-forest-labs/FLUX.1-schnell\u0022,\n    steps=4,\n    prompt=\u0022A cartoon of an astronaut riding a horse on the moon\u0022,\n)\n\nprint(response.data[0].url)\n"},{"lang":"TypeScript","label":"Together AI SDK (TypeScript)","source":"import Together from \u0022together-ai\u0022;\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst response = await client.images.generate({\n  model: \u0022black-forest-labs/FLUX.1-schnell\u0022,\n  prompt: \u0022A cartoon of an astronaut riding a horse on the moon\u0022,\n});\n\nconsole.log(response.data[0].url);\n"},{"lang":"JavaScript","label":"Together AI SDK (JavaScript)","source":"import Together from \u0022together-ai\u0022;\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst response = await client.images.generate({\n  model: \u0022black-forest-labs/FLUX.1-schnell\u0022,\n  prompt: \u0022A cartoon of an astronaut riding a horse on the moon\u0022,\n});\n\nconsole.log(response.data[0].url);\n"},{"lang":"Shell","label":"cURL","source":"curl -X POST \u0022https://api.together.ai/v1/images/generations\u0022 \\\n     -H \u0022Authorization: Bearer $TOGETHER_API_KEY\u0022 \\\n     -H \u0022Content-Type: application/json\u0022 \\\n     -d \u0027{\n       \u0022model\u0022: \u0022black-forest-labs/FLUX.1-schnell\u0022,\n       \u0022prompt\u0022: \u0022A cartoon of an astronaut riding a horse on the moon\u0022\n     }\u0027\n"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["prompt","model"],"properties":{"prompt":{"type":"string","description":"A description of the desired images. Maximum length varies by model.","example":"cat floating in space, cinematic"},"model":{"type":"string","description":"The model to use for image generation.\u003Cbr\u003E \u003Cbr\u003E [See all of Together AI\u0027s image models](https://docs.together.ai/docs/serverless-models#image-models)\n","example":"black-forest-labs/FLUX.1-schnell","anyOf":[{"type":"string","enum":["black-forest-labs/FLUX.1-schnell-Free","black-forest-labs/FLUX.1-schnell","black-forest-labs/FLUX.1.1-pro"]},{"type":"string"}]},"steps":{"type":"integer","default":20,"description":"Number of generation steps."},"image_url":{"type":"string","description":"URL of an image to use for image models that support it."},"seed":{"type":"integer","description":"Seed used for generation. Can be used to reproduce image generations."},"n":{"type":"integer","default":1,"description":"Number of image results to generate."},"height":{"type":"integer","default":1024,"description":"Height of the image to generate in number of pixels."},"width":{"type":"integer","default":1024,"description":"Width of the image to generate in number of pixels."},"negative_prompt":{"type":"string","description":"The prompt or prompts not to guide the image generation."},"response_format":{"type":"string","description":"Format of the image response. Can be either a base64 string or a URL.","enum":["base64","url"]},"guidance_scale":{"type":"number","description":"Adjusts the alignment of the generated image with the input prompt. Higher values (e.g., 8-10) make the output more faithful to the prompt, while lower values (e.g., 1-5) encourage more creative freedom.","default":3.5},"output_format":{"type":"string","description":"The format of the image response. Can be either be \u0060jpeg\u0060 or \u0060png\u0060. Defaults to \u0060jpeg\u0060.","default":"jpeg","enum":["jpeg","png"]},"image_loras":{"description":"An array of objects that define LoRAs (Low-Rank Adaptations) to influence the generated image.","type":"array","items":{"type":"object","required":["path","scale"],"properties":{"path":{"type":"string","description":"The URL of the LoRA to apply (e.g. https://huggingface.co/strangerzonehf/Flux-Midjourney-Mix2-LoRA)."},"scale":{"type":"number","description":"The strength of the LoRA\u0027s influence. Most LoRA\u0027s recommend a value of 1."}}}},"reference_images":{"description":"An array of image URLs that guide the overall appearance and style of the generated image. These reference images influence the visual characteristics consistently across the generation.","type":"array","items":{"type":"string","description":"URL of a reference image to guide the image generation."}},"disable_safety_checker":{"type":"boolean","description":"If true, disables the safety checker for image generation."}}}}}},"responses":{"200":{"description":"Image generated successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ImageResponse"}}}}}}},"/files":{"get":{"tags":["Files"],"summary":"List all files","description":"List the metadata for all uploaded data files.","x-codeSamples":[{"lang":"Python","label":"Together AI SDK (v2)","source":"# Docs for v1 can be found by changing the above selector ^\nfrom together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\u0022TOGETHER_API_KEY\u0022),\n)\n\nresponse = client.files.list()\n\nfor file in response.data:\n    print(file.id)\n"},{"lang":"Python","label":"Together AI SDK (v1)","source":"from together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\u0022TOGETHER_API_KEY\u0022),\n)\n\nresponse = client.files.list()\n\nfor file in response.data:\n    print(file.id)\n"},{"lang":"TypeScript","label":"Together AI SDK (TypeScript)","source":"import Together from \u0022together-ai\u0022;\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst response = await client.files.list();\n\nfor (const file of response.data) {\n  console.log(file.id);\n}\n"},{"lang":"JavaScript","label":"Together AI SDK (JavaScript)","source":"import Together from \u0022together-ai\u0022;\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst response = await client.files.list();\n\nfor (const file of response.data) {\n  console.log(file.id);\n}\n"},{"lang":"Shell","label":"cURL","source":"curl \u0022https://api.together.ai/v1/files\u0022 \\\n     -H \u0022Authorization: Bearer $TOGETHER_API_KEY\u0022 \\\n     -H \u0022Content-Type: application/json\u0022\n"}],"responses":{"200":{"description":"List of files","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FileList"}}}}}}},"/files/{id}":{"get":{"tags":["Files"],"summary":"Retrieve file metadata","description":"Retrieve the metadata for a single uploaded data file.","x-codeSamples":[{"lang":"Python","label":"Together AI SDK (v2)","source":"# Docs for v1 can be found by changing the above selector ^\nfrom together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\u0022TOGETHER_API_KEY\u0022),\n)\n\nfile = client.files.retrieve(id=\u0022file-id\u0022)\n\nprint(file)\n"},{"lang":"Python","label":"Together AI SDK (v1)","source":"from together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\u0022TOGETHER_API_KEY\u0022),\n)\n\nfile = client.files.retrieve(id=\u0022file-id\u0022)\n\nprint(file)\n"},{"lang":"TypeScript","label":"Together AI SDK (TypeScript)","source":"import Together from \u0022together-ai\u0022;\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst file = await client.files.retrieve(\u0022file-id\u0022);\n\nconsole.log(file);\n"},{"lang":"JavaScript","label":"Together AI SDK (JavaScript)","source":"import Together from \u0022together-ai\u0022;\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst file = await client.files.retrieve(\u0022file-id\u0022);\n\nconsole.log(file);\n"},{"lang":"Shell","label":"cURL","source":"curl \u0022https://api.together.ai/v1/files/ID\u0022 \\\n     -H \u0022Authorization: Bearer $TOGETHER_API_KEY\u0022 \\\n     -H \u0022Content-Type: application/json\u0022\n"}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"description":"The ID of the file to retrieve","type":"string"}}],"responses":{"200":{"description":"File retrieved successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FileResponse"}}}}}},"delete":{"tags":["Files"],"summary":"Delete a file","description":"Delete a previously uploaded data file.","x-codeSamples":[{"lang":"Python","label":"Together AI SDK (v2)","source":"# Docs for v1 can be found by changing the above selector ^\nfrom together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\u0022TOGETHER_API_KEY\u0022),\n)\n\nresponse = client.files.delete(id=\u0022file-id\u0022)\n\nprint(response)\n"},{"lang":"Python","label":"Together AI SDK (v1)","source":"from together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\u0022TOGETHER_API_KEY\u0022),\n)\n\nresponse = client.files.delete(id=\u0022file-id\u0022)\n\nprint(response)\n"},{"lang":"TypeScript","label":"Together AI SDK (TypeScript)","source":"import Together from \u0022together-ai\u0022;\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst response = await client.files.delete(\u0022file-id\u0022);\n\nconsole.log(response);\n"},{"lang":"JavaScript","label":"Together AI SDK (JavaScript)","source":"import Together from \u0022together-ai\u0022;\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst response = await client.files.delete(\u0022file-id\u0022);\n\nconsole.log(response);\n"},{"lang":"Shell","label":"cURL","source":"curl -X \u0022DELETE\u0022 \u0022https://api.together.ai/v1/files/file-id\u0022 \\\n     -H \u0022Authorization: Bearer $TOGETHER_API_KEY\u0022\n"}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"description":"The ID of the file to delete","type":"string"}}],"responses":{"200":{"description":"File deleted successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FileDeleteResponse"}}}}}}},"/files/{id}/content":{"get":{"tags":["Files"],"summary":"Get file contents","description":"Get the contents of a single uploaded data file.","x-codeSamples":[{"lang":"Python","label":"Together AI SDK (v2)","source":"# Docs for v1 can be found by changing the above selector ^\nfrom together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\u0022TOGETHER_API_KEY\u0022),\n)\n\nwith client.files.with_streaming_response.content(id=\u0022file-id\u0022) as response:\n  for line in response.iter_lines():\n    print(line)\n"},{"lang":"Python","label":"Together AI SDK (v1)","source":"from together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\u0022TOGETHER_API_KEY\u0022),\n)\n\nfile = client.files.retrieve_content(id=\u0022file-id\u0022)\n\nprint(file.filename)\n"},{"lang":"TypeScript","label":"Together AI SDK (TypeScript)","source":"import Together from \u0022together-ai\u0022;\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst response = await client.files.content(\u0022file-id\u0022);\nconst content = await response.text();\n\nconsole.log(content);\n"},{"lang":"JavaScript","label":"Together AI SDK (JavaScript)","source":"import Together from \u0022together-ai\u0022;\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst response = await client.files.content(\u0022file-id\u0022);\nconst content = await response.text();\n\nconsole.log(content);\n"},{"lang":"Shell","label":"cURL","source":"curl \u0022https://api.together.ai/v1/files/file-id/content\u0022 \\\n     -H \u0022Authorization: Bearer $TOGETHER_API_KEY\u0022 \\\n     -H \u0022Content-Type: application/json\u0022\n"}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"description":"The ID of the file to get the content of","type":"string"}}],"responses":{"200":{"description":"File content retrieved successfully","content":{"text/plain":{"schema":{"type":"string","format":"binary"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}}}}},"/files/upload":{"post":{"tags":["Files"],"summary":"Upload a file","description":"Upload a file with specified purpose, file name, and file type.","x-codeSamples":[{"lang":"Python","label":"Together AI SDK (v2)","source":"# Docs for v1 can be found by changing the above selector ^\nfrom together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\u0022TOGETHER_API_KEY\u0022),\n)\n\ncurrent_dir = os.path.dirname(os.path.abspath(__file__))\nfile_path = os.path.join(current_dir, \u0022data.jsonl\u0022)\nfile = client.files.upload(file=file_path)\n\nprint(file.id)\n"},{"lang":"Python","label":"Together AI SDK (v1)","source":"from together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\u0022TOGETHER_API_KEY\u0022),\n)\n\ncurrent_dir = os.path.dirname(os.path.abspath(__file__))\nfile_path = os.path.join(current_dir, \u0022data.jsonl\u0022)\nfile = client.files.upload(file=file_path)\n\nprint(file.id)\n"},{"lang":"TypeScript","label":"Together AI SDK (TypeScript)","source":"import { upload } from \u0022together-ai/lib/upload\u0022\nimport path from \u0022path\u0022;\nimport { fileURLToPath } from \u0022url\u0022;\n\nconst __filename = fileURLToPath(import.meta.url);\nconst __dirname = path.dirname(__filename);\nconst filepath = path.join(__dirname, \u0022data.jsonl\u0022);\nconst file = await upload(filepath);\n\nconsole.log(file.id);\n"},{"lang":"JavaScript","label":"Together AI SDK (JavaScript)","source":"import { upload } from \u0022together-ai/lib/upload\u0022\nimport path from \u0022path\u0022;\nimport { fileURLToPath } from \u0022url\u0022;\n\nconst __filename = fileURLToPath(import.meta.url);\nconst __dirname = path.dirname(__filename);\nconst filepath = path.join(__dirname, \u0022data.jsonl\u0022);\nconst file = await upload(filepath);\n\nconsole.log(file.id);\n"},{"lang":"Shell","label":"cURL","source":"curl \u0022https://api.together.ai/v1/files/upload\u0022 \\\n     -H \u0022Authorization: Bearer $TOGETHER_API_KEY\u0022 \\\n     -F \u0022file=@/path/to/data.jsonl\u0022 \\\n     -F \u0022file_name=data.jsonl\u0022 \\\n     -F \u0022purpose=fine-tune\u0022\n"}],"requestBody":{"required":true,"content":{"multipart/form-data":{"schema":{"type":"object","required":["purpose","file_name","file"],"properties":{"purpose":{"$ref":"#/components/schemas/FilePurpose"},"file_name":{"type":"string","description":"The name of the file being uploaded","example":"dataset.csv"},"file_type":{"$ref":"#/components/schemas/FileType"},"file":{"type":"string","format":"binary","description":"The content of the file being uploaded"}}}}}},"responses":{"200":{"description":"File uploaded successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FileResponse"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}}}}},"/fine-tunes":{"post":{"tags":["Fine-tuning"],"summary":"Create job","description":"Create a fine-tuning job with the provided model and training data.","x-codeSamples":[{"lang":"Python","label":"Together AI SDK (v2)","source":"# Docs for v1 can be found by changing the above selector ^\nfrom together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\u0022TOGETHER_API_KEY\u0022),\n)\n\nresponse = client.fine_tuning.create(\n    model=\u0022meta-llama/Meta-Llama-3.1-8B-Instruct-Reference\u0022,\n    training_file=\u0022file-id\u0022\n)\n\nprint(response)\n"},{"lang":"Python","label":"Together AI SDK (v1)","source":"from together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\u0022TOGETHER_API_KEY\u0022),\n)\n\nresponse = client.fine_tuning.create(\n    model=\u0022meta-llama/Meta-Llama-3.1-8B-Instruct-Reference\u0022,\n    training_file=\u0022file-id\u0022\n)\n\nprint(response)\n"},{"lang":"TypeScript","label":"Together AI SDK (TypeScript)","source":"import Together from \u0022together-ai\u0022;\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst response = await client.fineTuning.create({\n  model: \u0022meta-llama/Meta-Llama-3.1-8B-Instruct-Reference\u0022,\n  training_file: \u0022file-id\u0022,\n});\n\nconsole.log(response);\n"},{"lang":"JavaScript","label":"Together AI SDK (JavaScript)","source":"import Together from \u0022together-ai\u0022;\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst response = await client.fineTuning.create({\n  model: \u0022meta-llama/Meta-Llama-3.1-8B-Instruct-Reference\u0022,\n  training_file: \u0022file-id\u0022,\n});\n\nconsole.log(response);\n"},{"lang":"Shell","label":"cURL","source":"curl -X POST \u0022https://api.together.ai/v1/fine-tunes\u0022 \\\n     -H \u0022Authorization: Bearer $TOGETHER_API_KEY\u0022 \\\n     -H \u0022Content-Type: application/json\u0022 \\\n     -d \u0027{\n       \u0022model\u0022: \u0022meta-llama/Meta-Llama-3.1-8B-Instruct-Reference\u0022,\n       \u0022training_file\u0022: \u0022file-id\u0022\n     }\u0027\n"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["training_file","model"],"properties":{"training_file":{"type":"string","description":"File-ID of a training file uploaded to the Together API"},"validation_file":{"type":"string","description":"File-ID of a validation file uploaded to the Together API"},"packing":{"type":"boolean","default":true,"description":"Whether to use sequence packing for training."},"max_seq_length":{"type":"integer","description":"Maximum sequence length to use for training."},"model":{"type":"string","description":"Name of the base model to run fine-tune job on"},"n_epochs":{"type":"integer","default":1,"description":"Number of complete passes through the training dataset (higher values may improve results but increase cost and risk of overfitting)"},"n_checkpoints":{"type":"integer","default":1,"description":"Number of intermediate model versions saved during training for evaluation"},"n_evals":{"type":"integer","default":0,"description":"Number of evaluations to be run on a given validation set during training"},"batch_size":{"oneOf":[{"type":"integer"},{"type":"string","enum":["max"]}],"default":"max","description":"Number of training examples processed together (larger batches use more memory but may train faster). Defaults to \u0022max\u0022. We use training optimizations like packing, so the effective batch size may be different than the value you set."},"learning_rate":{"type":"number","format":"float","default":1E-05,"description":"Controls how quickly the model adapts to new information (too high may cause instability, too low may slow convergence)"},"lr_scheduler":{"type":"object","default":"none","$ref":"#/components/schemas/LRScheduler","description":"The learning rate scheduler to use. It specifies how the learning rate is adjusted during training."},"warmup_ratio":{"type":"number","format":"float","default":0,"description":"The percent of steps at the start of training to linearly increase the learning rate."},"max_grad_norm":{"type":"number","format":"float","default":1,"description":"Max gradient norm to be used for gradient clipping. Set to 0 to disable."},"weight_decay":{"type":"number","format":"float","default":0,"description":"Weight decay. Regularization parameter for the optimizer."},"random_seed":{"type":"integer","nullable":true,"description":"Random seed for reproducible training. When set, the same seed produces the same run (e.g. data shuffle, init). If omitted or null, the server applies its default seed (e.g. 42).\n"},"suffix":{"type":"string","description":"Suffix that will be added to your fine-tuned model name"},"wandb_api_key":{"type":"string","description":"Integration key for tracking experiments and model metrics on W\u0026B platform"},"wandb_base_url":{"type":"string","description":"The base URL of a dedicated Weights \u0026 Biases instance."},"wandb_project_name":{"type":"string","description":"The Weights \u0026 Biases project for your run. If not specified, will use \u0060together\u0060 as the project name."},"wandb_name":{"type":"string","description":"The Weights \u0026 Biases name for your run."},"wandb_entity":{"type":"string","description":"The Weights \u0026 Biases entity for your run."},"train_on_inputs":{"oneOf":[{"type":"boolean"},{"type":"string","enum":["auto"]}],"type":"boolean","default":"auto","description":"Whether to mask the user messages in conversational data or prompts in instruction data.","deprecated":true},"training_method":{"type":"object","oneOf":[{"$ref":"#/components/schemas/TrainingMethodSFT"},{"$ref":"#/components/schemas/TrainingMethodDPO"}],"description":"The training method to use. \u0027sft\u0027 for Supervised Fine-Tuning or \u0027dpo\u0027 for Direct Preference Optimization."},"training_type":{"type":"object","default":null,"nullable":true,"anyOf":[{"$ref":"#/components/schemas/FullTrainingType"},{"$ref":"#/components/schemas/LoRATrainingType"}],"description":"The training type to use. If not provided, the job will default to LoRA training type."},"multimodal_params":{"$ref":"#/components/schemas/MultimodalParams"},"from_checkpoint":{"type":"string","description":"The checkpoint identifier to continue training from a previous fine-tuning job. Format is \u0060{$JOB_ID}\u0060 or \u0060{$OUTPUT_MODEL_NAME}\u0060 or \u0060{$JOB_ID}:{$STEP}\u0060 or \u0060{$OUTPUT_MODEL_NAME}:{$STEP}\u0060. The step value is optional; without it, the final checkpoint will be used."},"from_hf_model":{"type":"string","description":"The Hugging Face Hub repo to start training from. Should be as close as possible to the base model (specified by the \u0060model\u0060 argument) in terms of architecture and size."},"hf_model_revision":{"type":"string","description":"The revision of the Hugging Face Hub model to continue training from. E.g., hf_model_revision=main (default, used if the argument is not provided) or hf_model_revision=\u0027607a30d783dfa663caf39e06633721c8d4cfcd7e\u0027 (specific commit)."},"hf_api_token":{"type":"string","description":"The API token for the Hugging Face Hub."},"hf_output_repo_name":{"type":"string","description":"The name of the Hugging Face repository to upload the fine-tuned model to."}}}}}},"responses":{"200":{"description":"Fine-tuning job initiated successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FinetuneResponseTruncated"}}}}}},"get":{"tags":["Fine-tuning"],"summary":"List all jobs","description":"List the metadata for all fine-tuning jobs. Returns a list of FinetuneResponseTruncated objects.","x-codeSamples":[{"lang":"Python","label":"Together AI SDK (v2)","source":"# Docs for v1 can be found by changing the above selector ^\nfrom together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\u0022TOGETHER_API_KEY\u0022),\n)\n\nresponse = client.fine_tuning.list()\n\nfor fine_tune in response.data:\n    print(f\u0022ID: {fine_tune.id}, Status: {fine_tune.status}\u0022)\n"},{"lang":"Python","label":"Together AI SDK (v1)","source":"from together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\u0022TOGETHER_API_KEY\u0022),\n)\n\nresponse = client.fine_tuning.list()\n\nfor fine_tune in response.data:\n    print(f\u0022ID: {fine_tune.id}, Status: {fine_tune.status}\u0022)\n"},{"lang":"TypeScript","label":"Together AI SDK (TypeScript)","source":"import Together from \u0022together-ai\u0022;\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst response = await client.fineTuning.list();\n\nfor (const fineTune of response.data) {\n  console.log(fineTune.id, fineTune.status);\n}\n"},{"lang":"JavaScript","label":"Together AI SDK (JavaScript)","source":"import Together from \u0022together-ai\u0022;\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst response = await client.fineTuning.list();\n\nfor (const fineTune of response.data) {\n  console.log(fineTune.id, fineTune.status);\n}\n"},{"lang":"Shell","label":"cURL","source":"curl \u0022https://api.together.ai/v1/fine-tunes\u0022 \\\n     -H \u0022Authorization: Bearer $TOGETHER_API_KEY\u0022 \\\n     -H \u0022Content-Type: application/json\u0022\n"}],"responses":{"200":{"description":"List of fine-tune jobs","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FinetuneTruncatedList"}}}}}}},"/fine-tunes/estimate-price":{"post":{"tags":["Fine-tuning"],"summary":"Estimate price","description":"Estimate the price of a fine-tuning job.","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["training_file"],"properties":{"training_file":{"type":"string","description":"File-ID of a training file uploaded to the Together API"},"validation_file":{"type":"string","description":"File-ID of a validation file uploaded to the Together API"},"model":{"type":"string","description":"Name of the base model to run fine-tune job on"},"n_epochs":{"type":"integer","default":1,"description":"Number of complete passes through the training dataset (higher values may improve results but increase cost and risk of overfitting)"},"n_evals":{"type":"integer","default":0,"description":"Number of evaluations to be run on a given validation set during training"},"training_method":{"type":"object","oneOf":[{"$ref":"#/components/schemas/TrainingMethodSFT"},{"$ref":"#/components/schemas/TrainingMethodDPO"}],"description":"The training method to use. \u0027sft\u0027 for Supervised Fine-Tuning or \u0027dpo\u0027 for Direct Preference Optimization."},"training_type":{"type":"object","default":null,"nullable":true,"oneOf":[{"$ref":"#/components/schemas/FullTrainingType"},{"$ref":"#/components/schemas/LoRATrainingType"}],"description":"The training type to use. If not provided, the job will default to LoRA training type."},"from_checkpoint":{"type":"string","description":"The checkpoint identifier to continue training from a previous fine-tuning job. Format is \u0060{$JOB_ID}\u0060 or \u0060{$OUTPUT_MODEL_NAME}\u0060 or \u0060{$JOB_ID}:{$STEP}\u0060 or \u0060{$OUTPUT_MODEL_NAME}:{$STEP}\u0060. The step value is optional; without it, the final checkpoint will be used."}}}}}},"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}},"200":{"description":"Price estimated successfully","content":{"application/json":{"schema":{"type":"object","properties":{"estimated_total_price":{"type":"number","description":"The price of the fine-tuning job"},"allowed_to_proceed":{"type":"boolean","description":"Whether the user is allowed to proceed with the fine-tuning job","example":true},"user_limit":{"type":"number","description":"The user\u0027s credit limit in dollars"},"estimated_train_token_count":{"type":"number","description":"The estimated number of tokens to be trained"},"estimated_eval_token_count":{"type":"number","description":"The estimated number of tokens for evaluation"}}}}}}}}},"/fine-tunes/{id}":{"get":{"tags":["Fine-tuning"],"summary":"List job","description":"List the metadata for a single fine-tuning job.","x-codeSamples":[{"lang":"Python","label":"Together AI SDK (v2)","source":"# Docs for v1 can be found by changing the above selector ^\nfrom together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\u0022TOGETHER_API_KEY\u0022),\n)\n\nfine_tune = client.fine_tuning.retrieve(id=\u0022ft-id\u0022)\n\nprint(fine_tune)\n"},{"lang":"Python","label":"Together AI SDK (v1)","source":"from together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\u0022TOGETHER_API_KEY\u0022),\n)\n\nfine_tune = client.fine_tuning.retrieve(id=\u0022ft-id\u0022)\n\nprint(fine_tune)\n"},{"lang":"TypeScript","label":"Together AI SDK (TypeScript)","source":"import Together from \u0022together-ai\u0022;\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst fineTune = await client.fineTuning.retrieve(\u0022ft-id\u0022);\n\nconsole.log(fineTune);\n"},{"lang":"JavaScript","label":"Together AI SDK (JavaScript)","source":"import Together from \u0022together-ai\u0022;\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst fineTune = await client.fineTuning.retrieve(\u0022ft-id\u0022);\n\nconsole.log(fineTune);\n"},{"lang":"Shell","label":"cURL","source":"curl \u0022https://api.together.ai/v1/fine-tunes/ft-id\u0022 \\\n     -H \u0022Authorization: Bearer $TOGETHER_API_KEY\u0022 \\\n     -H \u0022Content-Type: application/json\u0022\n"}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"description":"The ID of the job to retrieve","type":"string"}}],"responses":{"200":{"description":"Fine-tune job details retrieved successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FinetuneResponse"}}}}}},"delete":{"tags":["Fine-tuning"],"summary":"Delete a fine-tune job","description":"Delete a fine-tuning job.","x-codeSamples":[{"lang":"Python","label":"Together AI SDK (v2)","source":"# Docs for v1 can be found by changing the above selector ^\nfrom together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\u0022TOGETHER_API_KEY\u0022),\n)\n\nresponse = client.fine_tuning.delete(id=\u0022ft-id\u0022)\n\nprint(response)\n"},{"lang":"Python","label":"Together AI SDK (v1)","source":"from together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\u0022TOGETHER_API_KEY\u0022),\n)\n\nresponse = client.fine_tuning.delete(id=\u0022ft-id\u0022)\n\nprint(response)\n"},{"lang":"TypeScript","label":"Together AI SDK (TypeScript)","source":"import Together from \u0022together-ai\u0022;\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst response = await client.fineTuning.delete(\u0022ft-id\u0022);\n\nconsole.log(response);\n"},{"lang":"JavaScript","label":"Together AI SDK (JavaScript)","source":"import Together from \u0022together-ai\u0022;\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst response = await client.fineTuning.delete(\u0022ft-id\u0022);\n\nconsole.log(response);\n"},{"lang":"Shell","label":"cURL","source":"curl -X \u0022DELETE\u0022 \u0022https://api.together.ai/v1/fine-tunes/ft-id?force=false\u0022 \\\n     -H \u0022Authorization: Bearer $TOGETHER_API_KEY\u0022 \\\n     -H \u0022Content-Type: application/json\u0022\n"}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"description":"The ID of the fine-tune job to delete","type":"string"}},{"name":"force","deprecated":true,"in":"query","schema":{"description":"Deprecated and unused parameter.","type":"boolean","default":false}}],"responses":{"200":{"description":"Fine-tune job deleted successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FinetuneDeleteResponse"}}}},"404":{"description":"Fine-tune job not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}}}}},"/fine-tunes/{id}/events":{"get":{"tags":["Fine-tuning"],"summary":"List job events","description":"List the events for a single fine-tuning job.","x-codeSamples":[{"lang":"Python","label":"Together AI SDK (v2)","source":"# Docs for v1 can be found by changing the above selector ^\nfrom together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\u0022TOGETHER_API_KEY\u0022),\n)\n\nresponse = client.fine_tuning.list_events(id=\u0022ft-id\u0022)\n\nfor event in response.data:\n    print(event)\n"},{"lang":"Python","label":"Together AI SDK (v1)","source":"from together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\u0022TOGETHER_API_KEY\u0022),\n)\n\nevents = client.fine_tuning.list_events(id=\u0022ft-id\u0022)\n\nprint(events)\n"},{"lang":"TypeScript","label":"Together AI SDK (TypeScript)","source":"import Together from \u0022together-ai\u0022;\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst events = await client.fineTuning.listEvents(\u0022ft-id\u0022);\n\nconsole.log(events);\n"},{"lang":"JavaScript","label":"Together AI SDK (JavaScript)","source":"import Together from \u0022together-ai\u0022;\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst events = await client.fineTuning.listEvents(\u0022ft-id\u0022);\n\nconsole.log(events);\n"},{"lang":"Shell","label":"cURL","source":"curl \u0022https://api.together.ai/v1/fine-tunes/ft-id/events\u0022 \\\n     -H \u0022Authorization: Bearer $TOGETHER_API_KEY\u0022 \\\n     -H \u0022Content-Type: application/json\u0022\n"}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"description":"The ID of the fine-tune job to list events for","type":"string"}}],"responses":{"200":{"description":"List of fine-tune events","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FinetuneListEvents"}}}}}}},"/fine-tunes/{id}/checkpoints":{"get":{"tags":["Fine-tuning"],"summary":"List checkpoints","description":"List the checkpoints for a single fine-tuning job.","x-codeSamples":[{"lang":"Python","label":"Together AI SDK (v2)","source":"# Docs for v1 can be found by changing the above selector ^\nfrom together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\u0022TOGETHER_API_KEY\u0022),\n)\n\ncheckpoints = client.fine_tuning.list_checkpoints(id=\u0022ft-id\u0022)\n\nprint(checkpoints)\n"},{"lang":"Python","label":"Together AI SDK (v1)","source":"from together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\u0022TOGETHER_API_KEY\u0022),\n)\n\ncheckpoints = client.fine_tuning.list_checkpoints(id=\u0022ft-id\u0022)\n\nprint(checkpoints)\n"},{"lang":"TypeScript","label":"Together AI SDK (TypeScript)","source":"import Together from \u0022together-ai\u0022;\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst checkpoints = await client.fineTuning.listCheckpoints(\u0022ft-id\u0022);\n\nconsole.log(checkpoints);\n"},{"lang":"JavaScript","label":"Together AI SDK (JavaScript)","source":"import Together from \u0022together-ai\u0022;\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst checkpoints = await client.fineTuning.listCheckpoints(\u0022ft-id\u0022);\n\nconsole.log(checkpoints);\n"},{"lang":"Shell","label":"cURL","source":"curl \u0022https://api.together.ai/v1/fine-tunes/ft-id/checkpoints\u0022 \\\n     -H \u0022Authorization: Bearer $TOGETHER_API_KEY\u0022 \\\n     -H \u0022Content-Type: application/json\u0022\n"}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"description":"The ID of the fine-tune job to list checkpoints for","type":"string"}}],"responses":{"200":{"description":"List of fine-tune checkpoints","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FinetuneListCheckpoints"}}}}}}},"/finetune/download":{"get":{"tags":["Fine-tuning"],"summary":"Download model","description":"Receive a compressed fine-tuned model or checkpoint.","x-codeSamples":[{"lang":"Python","label":"Together AI SDK (v2)","source":"# Docs for v1 can be found by changing the above selector ^\nfrom together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\u0022TOGETHER_API_KEY\u0022),\n)\n\n# Using \u0060with_streaming_response\u0060 gives you control to do what you want with the response.\nstream = client.fine_tuning.with_streaming_response.content(ft_id=\u0022ft-id\u0022)\n\nwith stream as response:\n    for line in response.iter_lines():\n        print(line)\n"},{"lang":"Python","label":"Together AI SDK (v1)","source":"from together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\u0022TOGETHER_API_KEY\u0022),\n)\n\n# This will download the content to a location on disk\nresponse = client.fine_tuning.download(id=\u0022ft-id\u0022)\n\nprint(response)\n"},{"lang":"TypeScript","label":"Together AI SDK (TypeScript)","source":"import Together from \u0022together-ai\u0022;\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst response = await client.fineTuning.content({\n  ft_id: \u0022ft-id\u0022,\n});\n\nconsole.log(await response.blob());\n"},{"lang":"JavaScript","label":"Together AI SDK (JavaScript)","source":"import Together from \u0022together-ai\u0022;\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst response = await client.fineTuning.content({\n  ft_id: \u0022ft-id\u0022,\n});\n\nconsole.log(await response.blob());\n"},{"lang":"Shell","label":"cURL","source":"curl \u0022https://api.together.ai/v1/finetune/download?ft_id=ft-id\u0026checkpoint=merged\u0022\n     -H \u0022Authorization: Bearer $TOGETHER_API_KEY\u0022 \\\n     -H \u0022Content-Type: application/json\u0022\n"}],"parameters":[{"in":"query","name":"ft_id","required":true,"schema":{"description":"Fine-tune ID to download. A string that starts with \u0060ft-\u0060.","type":"string"}},{"in":"query","name":"checkpoint_step","required":false,"schema":{"description":"Specifies step number for checkpoint to download. Ignores \u0060checkpoint\u0060 value if set.","type":"integer"}},{"in":"query","name":"checkpoint","schema":{"description":"Specifies checkpoint type to download - \u0060merged\u0060 vs \u0060adapter\u0060. This field is required if the checkpoint_step is not set.","type":"string","enum":["merged","adapter","model_output_path"]}}],"responses":{"200":{"description":"Successfully downloaded the fine-tuned model or checkpoint.","content":{"application/octet-stream":{"schema":{"type":"string","format":"binary"}}}},"400":{"description":"Invalid request parameters."},"404":{"description":"Fine-tune ID not found."}}}},"/fine-tunes/{id}/cancel":{"post":{"tags":["Fine-tuning"],"summary":"Cancel job","description":"Cancel a currently running fine-tuning job. Returns a FinetuneResponseTruncated object.","x-codeSamples":[{"lang":"Python","label":"Together AI SDK (v2)","source":"# Docs for v1 can be found by changing the above selector ^\nfrom together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\u0022TOGETHER_API_KEY\u0022),\n)\n\nresponse = client.fine_tuning.cancel(id=\u0022ft-id\u0022)\n\nprint(response)\n"},{"lang":"Python","label":"Together AI SDK (v1)","source":"from together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\u0022TOGETHER_API_KEY\u0022),\n)\n\nresponse = client.fine_tuning.cancel(id=\u0022ft-id\u0022)\n\nprint(response)\n"},{"lang":"TypeScript","label":"Together AI SDK (TypeScript)","source":"import Together from \u0022together-ai\u0022;\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst response = await client.fineTuning.cancel(\u0022ft-id\u0022);\n\nconsole.log(response);\n"},{"lang":"JavaScript","label":"Together AI SDK (JavaScript)","source":"import Together from \u0022together-ai\u0022;\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst response = await client.fineTuning.cancel(\u0022ft-id\u0022);\n\nconsole.log(response);\n"},{"lang":"Shell","label":"cURL","source":"curl -X POST \u0022https://api.together.ai/v1/fine-tunes/ft-id/cancel\u0022 \\\n     -H \u0022Authorization: Bearer $TOGETHER_API_KEY\u0022 \\\n     -H \u0022Content-Type: application/json\u0022\n"}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"description":"Fine-tune ID to cancel. A string that starts with \u0060ft-\u0060.","type":"string"}}],"responses":{"200":{"description":"Successfully cancelled the fine-tuning job.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FinetuneResponseTruncated"}}}},"400":{"description":"Invalid request parameters."},"404":{"description":"Fine-tune ID not found."}}}},"/fine-tunes/{id}/metrics":{"get":{"tags":["Fine-tuning"],"summary":"Get metrics","description":"Retrieves recorded training metrics for a fine-tuning job in chronological order. All filter fields are optional \u2014 omit the body or send \u0060{}\u0060 to retrieve all metrics.\n","x-codeSamples":[{"lang":"Shell","label":"cURL","source":"curl -X GET \u0022https://api.together.ai/v1/fine-tunes/ft-id/metrics\u0022 \\\n     -H \u0022Authorization: Bearer $TOGETHER_API_KEY\u0022 \\\n     -H \u0022Content-Type: application/json\u0022 \\\n     -d \u0027{\n       \u0022global_step_from\u0022: 0,\n       \u0022global_step_to\u0022: 500\n     }\u0027\n"}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"description":"Fine-tune job ID. A string that starts with \u0060ft-\u0060.","type":"string"}}],"requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","properties":{"global_step_from":{"type":"integer","format":"int64","description":"Return only metrics with global_step \u003E= this value.","example":0},"global_step_to":{"type":"integer","format":"int64","description":"Return only metrics with global_step \u003C= this value.","example":500},"logged_at_from":{"type":"string","format":"date-time","description":"Return only metrics logged at or after this ISO-8601 timestamp.","example":"2024-01-01T00:00:00Z"},"logged_at_to":{"type":"string","format":"date-time","description":"Return only metrics logged at or before this ISO-8601 timestamp.","example":"2024-01-01T12:00:00Z"},"resolution":{"type":"integer","format":"int64","description":"Number of (uniformly sampled) train metrics to return.","example":100}}}}}},"responses":{"200":{"description":"List of metrics snapshots in chronological order.","content":{"application/json":{"schema":{"type":"object","properties":{"metrics":{"type":"array","items":{"type":"object","additionalProperties":{"type":"number"},"description":"A flat dictionary of scalar metric values."}}},"example":{"metrics":[{"train/loss":0.5,"train/learning_rate":0.0001,"train/global_step":7},{"train/loss":0.45,"train/learning_rate":9E-05,"train/global_step":14}]}}}}},"400":{"description":"Invalid request \u2014 bad JSON body or missing job ID."},"404":{"description":"Fine-tune job not found."},"500":{"description":"Internal server error \u2014 failed to retrieve metrics."}}}},"/fine-tunes/models/supported":{"get":{"tags":["Fine-tuning"],"summary":"List supported models","description":"List models supported for fine-tuning.","x-codeSamples":[{"lang":"Shell","label":"cURL (list all)","source":"curl \u0022https://api.together.ai/v1/fine-tunes/models/supported\u0022 \\\n     -H \u0022Authorization: Bearer $TOGETHER_API_KEY\u0022\n"}],"responses":{"200":{"description":"List of supported models.","content":{"application/json":{"schema":{"type":"object","required":["models"],"properties":{"models":{"type":"array","items":{"type":"string"},"description":"List of supported model names."}}}}}}}}},"/fine-tunes/models/limits":{"get":{"tags":["Fine-tuning"],"summary":"Get model limits","description":"Get model limits for a specific fine-tuning model.","x-codeSamples":[{"lang":"Shell","label":"cURL","source":"curl \u0022https://api.together.ai/v1/fine-tunes/models/limits?model_name=meta-llama/Meta-Llama-3.1-8B-Instruct-Reference\u0022 \\\n     -H \u0022Authorization: Bearer $TOGETHER_API_KEY\u0022\n"}],"parameters":[{"in":"query","name":"model_name","schema":{"type":"string","description":"The model name to get limits for."},"required":true}],"responses":{"200":{"description":"Model limits.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FineTuneModelLimits"}}}},"404":{"description":"Model not found or not supported for fine-tuning.","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Error message explaining the model is not available."}}}}}}}}},"/rerank":{"post":{"tags":["Rerank"],"summary":"Create a rerank request","description":"Rerank a list of documents by relevance to a query. Returns a relevance score and ordering index for each document.","x-codeSamples":[{"lang":"Python","label":"Together AI SDK (v2)","source":"# Docs for v1 can be found by changing the above selector ^\nfrom together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\u0022TOGETHER_API_KEY\u0022),\n)\n\ndocuments = [\n    {\n        \u0022title\u0022: \u0022Llama\u0022,\n        \u0022text\u0022: \u0022The llama is a domesticated South American camelid, widely used as a meat and pack animal by Andean cultures since the pre-Columbian era.\u0022\n    },\n    {\n        \u0022title\u0022: \u0022Panda\u0022,\n        \u0022text\u0022: \u0022The giant panda (Ailuropoda melanoleuca), also known as the panda bear or simply panda, is a bear species endemic to China.\u0022\n    },\n    {\n        \u0022title\u0022: \u0022Guanaco\u0022,\n        \u0022text\u0022: \u0022The guanaco is a camelid native to South America, closely related to the llama. Guanacos are one of two wild South American camelids; the other species is the vicu\u00F1a, which lives at higher elevations.\u0022\n    },\n    {\n        \u0022title\u0022: \u0022Wild Bactrian camel\u0022,\n        \u0022text\u0022: \u0022The wild Bactrian camel (Camelus ferus) is an endangered species of camel endemic to Northwest China and southwestern Mongolia.\u0022\n    }\n]\n\nresponse = client.rerank.create(\n    model=\u0022Salesforce/Llama-Rank-v1\u0022,\n    query=\u0022What animals can I find near Peru?\u0022,\n    documents=documents,\n)\n\nfor result in response.results:\n    print(f\u0022Rank: {result.index \u002B 1}\u0022)\n    print(f\u0022Title: {documents[result.index][\u0027title\u0027]}\u0022)\n    print(f\u0022Text: {documents[result.index][\u0027text\u0027]}\u0022)\n"},{"lang":"Python","label":"Together AI SDK (v1)","source":"from together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\u0022TOGETHER_API_KEY\u0022),\n)\n\ndocuments = [\n    {\n        \u0022title\u0022: \u0022Llama\u0022,\n        \u0022text\u0022: \u0022The llama is a domesticated South American camelid, widely used as a meat and pack animal by Andean cultures since the pre-Columbian era.\u0022\n    },\n    {\n        \u0022title\u0022: \u0022Panda\u0022,\n        \u0022text\u0022: \u0022The giant panda (Ailuropoda melanoleuca), also known as the panda bear or simply panda, is a bear species endemic to China.\u0022\n    },\n    {\n        \u0022title\u0022: \u0022Guanaco\u0022,\n        \u0022text\u0022: \u0022The guanaco is a camelid native to South America, closely related to the llama. Guanacos are one of two wild South American camelids; the other species is the vicu\u00F1a, which lives at higher elevations.\u0022\n    },\n    {\n        \u0022title\u0022: \u0022Wild Bactrian camel\u0022,\n        \u0022text\u0022: \u0022The wild Bactrian camel (Camelus ferus) is an endangered species of camel endemic to Northwest China and southwestern Mongolia.\u0022\n    }\n]\n\nresponse = client.rerank.create(\n    model=\u0022Salesforce/Llama-Rank-v1\u0022,\n    query=\u0022What animals can I find near Peru?\u0022,\n    documents=documents,\n)\n\nfor result in response.results:\n    print(f\u0022Rank: {result.index \u002B 1}\u0022)\n    print(f\u0022Title: {documents[result.index][\u0027title\u0027]}\u0022)\n    print(f\u0022Text: {documents[result.index][\u0027text\u0027]}\u0022)\n"},{"lang":"TypeScript","label":"Together AI SDK (TypeScript)","source":"import Together from \u0022together-ai\u0022;\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst documents = [{\n  \u0022title\u0022: \u0022Llama\u0022,\n  \u0022text\u0022: \u0022The llama is a domesticated South American camelid, widely used as a meat and pack animal by Andean cultures since the pre-Columbian era.\u0022\n},\n{\n  \u0022title\u0022: \u0022Panda\u0022,\n  \u0022text\u0022: \u0022The giant panda (Ailuropoda melanoleuca), also known as the panda bear or simply panda, is a bear species endemic to China.\u0022\n},\n{\n  \u0022title\u0022: \u0022Guanaco\u0022,\n  \u0022text\u0022: \u0022The guanaco is a camelid native to South America, closely related to the llama. Guanacos are one of two wild South American camelids; the other species is the vicu\u00F1a, which lives at higher elevations.\u0022\n},\n{\n  \u0022title\u0022: \u0022Wild Bactrian camel\u0022,\n  \u0022text\u0022: \u0022The wild Bactrian camel (Camelus ferus) is an endangered species of camel endemic to Northwest China and southwestern Mongolia.\u0022\n}];\n\nconst response = await client.rerank.create({\n  model: \u0022Salesforce/Llama-Rank-v1\u0022,\n  query: \u0022What animals can I find near Peru?\u0022,\n  documents,\n});\n\nfor (const result of response.results) {\n  console.log(\u0060Rank: ${result.index \u002B 1}\u0060);\n  console.log(\u0060Title: ${documents[result.index].title}\u0060);\n  console.log(\u0060Text: ${documents[result.index].text}\u0060);\n}\n"},{"lang":"JavaScript","label":"Together AI SDK (JavaScript)","source":"import Together from \u0022together-ai\u0022;\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst documents = [{\n  \u0022title\u0022: \u0022Llama\u0022,\n  \u0022text\u0022: \u0022The llama is a domesticated South American camelid, widely used as a meat and pack animal by Andean cultures since the pre-Columbian era.\u0022\n},\n{\n  \u0022title\u0022: \u0022Panda\u0022,\n  \u0022text\u0022: \u0022The giant panda (Ailuropoda melanoleuca), also known as the panda bear or simply panda, is a bear species endemic to China.\u0022\n},\n{\n  \u0022title\u0022: \u0022Guanaco\u0022,\n  \u0022text\u0022: \u0022The guanaco is a camelid native to South America, closely related to the llama. Guanacos are one of two wild South American camelids; the other species is the vicu\u00F1a, which lives at higher elevations.\u0022\n},\n{\n  \u0022title\u0022: \u0022Wild Bactrian camel\u0022,\n  \u0022text\u0022: \u0022The wild Bactrian camel (Camelus ferus) is an endangered species of camel endemic to Northwest China and southwestern Mongolia.\u0022\n}];\n\nconst response = await client.rerank.create({\n  model: \u0022Salesforce/Llama-Rank-v1\u0022,\n  query: \u0022What animals can I find near Peru?\u0022,\n  documents,\n});\n\nfor (const result of response.results) {\n  console.log(\u0060Rank: ${result.index \u002B 1}\u0060);\n  console.log(\u0060Title: ${documents[result.index].title}\u0060);\n  console.log(\u0060Text: ${documents[result.index].text}\u0060);\n}\n"},{"lang":"Shell","label":"cURL","source":"curl -X POST \u0022https://api.together.ai/v1/rerank\u0022 \\\n     -H \u0022Authorization: Bearer $TOGETHER_API_KEY\u0022 \\\n     -H \u0022Content-Type: application/json\u0022 \\\n     -d \u0027{\n       \u0022model\u0022: \u0022Salesforce/Llama-Rank-v1\u0022,\n       \u0022query\u0022: \u0022What animals can I find near Peru?\u0022,\n       \u0022documents\u0022: [{\n          \u0022title\u0022: \u0022Llama\u0022,\n          \u0022text\u0022: \u0022The llama is a domesticated South American camelid, widely used as a meat and pack animal by Andean cultures since the pre-Columbian era.\u0022\n        },\n        {\n          \u0022title\u0022: \u0022Panda\u0022,\n          \u0022text\u0022: \u0022The giant panda (Ailuropoda melanoleuca), also known as the panda bear or simply panda, is a bear species endemic to China.\u0022\n        },\n        {\n          \u0022title\u0022: \u0022Guanaco\u0022,\n          \u0022text\u0022: \u0022The guanaco is a camelid native to South America, closely related to the llama. Guanacos are one of two wild South American camelids; the other species is the vicu\u00F1a, which lives at higher elevations.\u0022\n        },\n        {\n          \u0022title\u0022: \u0022Wild Bactrian camel\u0022,\n          \u0022text\u0022: \u0022The wild Bactrian camel (Camelus ferus) is an endangered species of camel endemic to Northwest China and southwestern Mongolia.\u0022\n        }]\n     }\u0027\n"}],"operationId":"rerank","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RerankRequest"}}}},"responses":{"200":{"description":200,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RerankResponse"}}}},"400":{"description":"BadRequest","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}},"404":{"description":"NotFound","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}},"429":{"description":"RateLimit","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}},"503":{"description":"Overloaded","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorData"}}}},"504":{"description":"Timeout","content":{"application/json":{"schema":{"$ref":"#/com
[...]
